/*ODDAJA INFO O ZAPOSLITVI*/

input {
    outline: none;
}

.form-input input:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.form-input input:focus {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#openFormBtn {
    margin-bottom: 5px;
}

#form {
    gap: 10px;
}

.form-input span {
    margin: 5px 10px;
}

.form-input-field {
    flex-grow: 1;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.select-box {
    flex-grow: 1;
    position: relative;
    height: 30px;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 0;
}

.selector:hover {
    border-bottom: 3px solid black;
}

.selector span {
    text-align: center;
    flex-grow: 1;
}

.formArrow {
    height: 15px;
    margin-right: 5px;
}

.selection {
    position: absolute;
    top: 100%;
    width: 100%;
    color: black;
    margin-top: 3px;
    background-color: beige;
    z-index: 1;
}

#formBtnBox {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

/*FILTER REZULETATOV*/

#filterPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

#filterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    border: 1px solid black;
    border-radius: 11px;
    padding: 75px 35px 75px 35px;
    background-color: goldenrod;
    pointer-events: auto;
}

.filterOrientation {
    display: flex;
    gap: 25px;
}

.filterOrientation button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 0.6rem;
}

#filterBox input {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    box-shadow: inset 0 0 2px 1px black;
    border-radius: 8px 8px 0 0;
    padding: 0.6em 1.2em;
    border-width: 0;
    transition: 0.2s;
}

#filterBox input:hover {
    box-shadow: inset 0 1px 2px 3px black;
}

#filterBox input:focus {
    box-shadow: inset 0 1px 2px 3px black;
}

.filterSubmitBtn {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 0 0 8px 8px;
}

#filterResetBtn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 0 0 8px 8px;
}

#filterExitBtn {
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 8px 8px 0 0;
}

/*TABELA REZULTATOV*/

table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

caption {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 5px auto 10px;
}

th {
    text-align: left;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    transition: 1s;
}

th:hover {
    text-decoration: underline;
}

th:nth-of-type(2) {
    text-align: center;
}

th:last-of-type {
    text-align: right;
}

td {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 6px 20px 10px;
}

td:nth-of-type(1) {
    text-align: left;
}

td:last-of-type {
    text-align: right;
}