/*FORMA ZA ODDAJO INFORMACIJE O ZAPOSLITVI*/

#form {
    margin: 15px;
}

.form-input span {
    margin: 5px 10px;
}

.form-input-field {
    flex-grow: 1;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

#select-box {
    flex-grow: 1;
}

.options {
    height: 100%;
    width: 100%;
    background-color: blue;
}

select {
    /* display: none; */
}

option {
    /* display: none; */
    color: black;
}

/*TABELA REZULTATOV*/

table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

caption {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 5px auto 10px;
}

th {
    text-align: left;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
}

th:nth-of-type(2) {
    text-align: center;
}

th:last-of-type {
    text-align: right;
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 6px 20px 10px;
}

td:nth-of-type(2) {
    text-align: center;
}

td:last-of-type {
    text-align: right;
}