#filterPosition {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

#filterBox {
    align-items: center;
    position: relative;
    max-width: 80%;
    gap: 25px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 11px;
    padding: 75px 35px 75px 35px;
    background-color: goldenrod;
    pointer-events: auto;
}

.filterOrientation {
    gap: 25px;
}

.filterOrientation button {
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 0.6rem;
}

.filterSchoolTierBtns {
    justify-content: space-evenly;
    width: 100%;
    max-width: 300px;
}

.schoolTierBtn {
    font-size: 1.2em;
    padding: 0.6em 1em;
}

.filterInput {
    width: calc(225px - 1.8rem);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    box-shadow: inset 0 0 2px 1px black;
    border-radius: 8px 8px 0 0;
    padding: 0.6em 0.9em;
    border-width: 0;
    transition: 0.2s;
}

#filterBox input:hover {
    box-shadow: inset 0 1px 2px 3px black;
}

#filterBox input:focus {
    box-shadow: inset 0 1px 2px 3px black;
}

.rangeBox input {
    width: calc(110px - 1.2rem);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    box-shadow: inset 0 0 2px 1px black;
    padding: 0.6em 0.6em;
    border-width: 0;
    transition: 0.2s;
}

.rangeBox input:nth-of-type(1) {
    border-radius: 8px 0 0 0;
}

.rangeBox input:nth-of-type(2) {
    border-radius: 0 8px 0 0;
}

#filterDataBox {
    gap: 5px;
}

.filterSubmitBtn {
    width: 100%;
    font-size: 1.3em;
    border-radius: 0 0 8px 8px;
}

#filterResetBtn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 0 0 8px 8px;
}

#filterExitBtn {
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 8px 8px 0 0;
}

.noResizeBtn:hover {
    border: 0.5px solid black;
}

.noResizeBtn:active {
    transform: scale(1);
    box-shadow: inset 0 0 2px 0.5px orange;
}