/*ENTER BUTTON*/

#shareInfoBtn {
    font-size: 1.2em;
    margin: 30px auto 25px;
    padding: 15px 20px;
}

/*FORM*/

#form {
    width: 100%;
    font-family: "Open Sans";
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 30px;
    gap: 25px;
}

.formInput {
    align-items: center;
}

.formInput span {
    letter-spacing: 0.05em;
}

.formInputField {
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 5px;
    border: 0px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
    padding: 0.3em 0 0.4em;
    background-color: transparent;
    outline: none;
}

.formInputField:hover,
.formInputField:focus {
    border-bottom: 4px solid rgba(0, 0, 0, 1);
}

#formBtnBox {
    width: 100%;
}

#formBtnBox div {
    margin-top: -6px;
}

.formBtn {
    align-items: center;
    width: 100%;
    font-size: 1.1em;
    margin: 12px 0;
}

.linkToOutside {
    font-size: 0.8em;
    margin: 6px 0;
    box-shadow: inset 0 0 2px 3px red;
}

/*DROPDOWN MENU*/

.select-box {
    position: relative;
    width: 100%;
}

.selector {
    position: relative;
    justify-content: center;
    width: 100%;
    color: rgb(225, 225, 225);
    text-align: center;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    padding: 0.4em 0 0.5em;
    background-color: transparent;
    z-index: 0;
}

.selector:hover {
    border: 1px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 1);
}

.formArrow {
    position: absolute;
    top: 30%;
    right: 10px;
    height: 20px;
}

.selection {
    position: absolute;
    top: 100%;
    width: calc(100% - 20px);
    color: rgb(225, 225, 225);
    text-align: center;
    margin-top: 3px;
    border-radius: 0 0 10px 10px;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: #1a1a1a;
    padding: 0 10px 5px;
    z-index: 1;
}

.option input {
    display: none;
}

.option {
    padding: 0.6em;
    transition: 0.2s;
}

.option:hover {
    color: orange;
}

.option:nth-of-type(1):hover {
    color: rgb(225, 225, 225);
}