table {
    font-size: 1.2em;
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 auto 15px;
}

.rowUndeline {
    height: 1px;
    width: 100%;
    background-color: black;
}

/*TABELA VELIKIH ZASLONOV*/

#wideTable {
    display: none;
    width: 100%;
}

#wideTable th {
    font-size: 1.1em;
    border-bottom: 3px solid black;
    padding: 7px 5px;
    transition: 0.25s;
}

#wideTable th:first-of-type,
#wideTable td:first-of-type {
    text-align: left;
    padding-left: 10px;
}

#wideTable th:last-of-type,
#wideTable td:last-of-type {
    text-align: right;
    padding-right: 10px;
}

#wideTable th:hover {
    color: orange;
}

#wideTable td {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.3;
    border-bottom: 2px solid black;
    padding: 10px 5px;
}

/*TABELA MALIH ZASLONOV*/

#longTable {
    width: 100%;
}

#longTable th {
    font-size: 1.1em;
    border-bottom: 3px solid black;
    padding: 10px;
}

#longTable th:first-of-type {
    text-align: start;
    padding-left: 20px;
}

#longTable th:last-of-type {
    text-align: end;
    padding-right: 20px;
}

#longTable td {
    font-size: 1.1em;
}

#longTable .filterOpenBtn {
    transition: 0.25s;
}

#longTable .filterOpenBtn:hover {
    color: orange;
}

.infoRow {
    border-bottom: 1px solid black;
}

.infoCell {
    line-height: 1.5;
    padding: 5px 15px 8px;
}

.infoCell:first-of-type {
    font-weight: 600;
}

.infoCell:last-of-type {
    text-align: end;
}

/*DODATNO*/

#emptyTableBtn {
    margin-top: 20px;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    font-size: 1.2em;
}