#app {
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 30px 75px;
}

#nav {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-btn {
    font-size: 1.5rem;
}

/*GENERIC CSS TYPES*/

.defMouse {
    cursor: default;
}

.actMouse {
    cursor: pointer;
}

.block {
    display: block;
}

.inBlock {
    display: inline-block;
}

.flex {
    display: flex;
}

.inFlex {
    display: inline-flex;
}

.colFlex {
    display: flex;
    flex-direction: column;
}