@media (max-height: 725px) {
    #filterPosition {
        position: relative;
    }
}

/* xs */
@media (min-width: 475px) {

    #app {
        padding: 0 40px 75px;
    }

    h1 {
        font-size: 2.6em;
        margin-bottom: 30px;
    }

    .navBtn {
        font-size: 1.5em;
    }

    caption {
        font-size: 1.4em;
    }

    .dataBtn {
        font-size: 1.1em;
    }

    #longTable {
        max-width: 425px;
    }

    #explainBox p {
        font-size: 1.5em;
    }

    #promoBox {
        max-width: 450px;
    }

    #shareInfoBtn {
        font-size: 1.3em;
    }

    #form {
        max-width: 500px;
    }

    .formInputTitle {
        font-size: 1.1em;
    }

    #formBtnBox {
        align-self: center;
        align-items: center;
    }

    .formBtn {
        font-size: 1.2em;
        width: 300px;
    }

    .linkToOutside {
        width: 300px;
    }
}

/* sm */
@media (min-width: 640px) {
    #explainBox p {
        max-width: 550px;
    }

    #longTable {
        display: none;
    }

    #wideTable {
        display: table;
    }

    #formBtnBox div {
        display: flex;
        gap: 12px;
        width: 100%;
    }

    #formBtnBox a {
        width: calc(50% - 6px);
    }

    .linkToOutside {
        height: 140px;
        width: 100%;
    }

    .filterInput {
        width: 300px;
    }

    .rangeBox input {
        width: 125px;
    }

    .dataBtn {
        font-size: 1.2em;
    }
}

/* md */
@media (min-width: 768px) {
    #wideTable {
        max-width: 700px;
    }

    #wideTable th:first-of-type,
    #wideTable td:first-of-type {
        padding-left: 20px;
    }

    #wideTable th:last-of-type,
    #wideTable td:last-of-type {
        padding-right: 20px;
    }

    #wideTable th,
    #wideTable td {
        font-size: 1.2em;
    }
}

/* lg */
@media (min-width: 1024px) {
    #wideTable {
        max-width: 750px;
    }
}

/* xl */
@media (min-width: 1280px) {

    #wideTable th,
    #wideTable td {
        font-size: 1.3em;
    }

    #explainBox p {
        font-size: 1.6em;
    }
}

/* 2xl */
@media (min-width: 1536px) {}